.container-hero {
    padding-top: 60px;
    padding-bottom: 50px;
}

.hero__title {
    font-size: 28px;
    line-height: 1.18;

    margin-bottom: 28px;
}

.hero__description {
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 28px;
}

.hero__button {
    padding: 6px 18px;
    background-color: $primary-button-bg-color;
    border-radius: 30px;
        
    &:hover, :focus {
        background-color: $secondary-button-bg-color;
    }
}